
body {

    padding: 10px 5px 5px 75px;
}

h1, h2, h3, h4, strong, em {
    color: plum;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: right;
    text-decoration: underline;
    text-decoration-color: LightSlateGray;
}

hr {
    background-color: LightSlateGray;
    height: 50%;
    font-style: italic;

}

p {
    color: DarkSlateGray;
    font-family: Georgia, serif;
    text-align: justify;
    font-style: italic;

    }

input[text] {

}