
body {

    padding: 50px 20%;
}

h1, h2, h3, h4, strong, em {
    color: plum;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: right;
    text-decoration: underline;
    text-decoration-color: LightSlateGray;
}

hr {
    background-color: LightSlateGray;
    height: 50%;
}

p {
    color: DarkSlateGray;
    font-family: Georgia, serif;
    text-align: justify;
    font-style: italic;
}